<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Your dashboard
		</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
	    <!----css3---->
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" href="img/logo.png">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

	
	
	
	<!--google material icon-->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
  </head>
<body>
        <div class="wrapper">
         <div class="body-overlay"></div>


                <!-- Sidebar  -->
                <nav id="sidebar" >
                    <div class="sidebar-header ">
                        <h3><img src="img/logo.png" class="img-fluid"/><span>ePharmaSphere</span></h3>
                    </div>

                    <ul class="list-unstyled components">
                            <li  class="active">
                            <a href="#" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                        </li>			
                        <li class="dropdown">
                            <a href="#" >
                                        <i class="material-icons">message</i><span>Messages</span>
                            </a>
                        </li>
                        
                        
                    
                        <li class="">
                            <a href="#"><i class="material-icons">settings</i><span>Settings</span></a>
                        </li>
                        
                        
                    
                    
                    </ul>

                
                </nav>
                
                

                <!-- Page Content  -->
                <div id="content">
                
                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                                <span class="material-icons">arrow_back_ios</span>
                            </button>
                            <button>

                                <span class="d-flex more-button font-weight-bold">
                                    <span class="d-xl-none d-lg-none material-icons mx-2"  >menu</span> 
                                    Dashboard
                                </span>
                            </button>
                            
                            
                            
                            
                            <button class="d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" >
                                <span class="material-icons">
                                    expand_more
                                    </span>
                                <span class="notification">4</span>
                            </button>

                            <div class="collapse navbar-collapse d-lg-block d-xl-block " id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">   
                                    <li class="dropdown nav-item ">
                                        <a href="#" class="d-flex " data-toggle="dropdown">
                                        <span class="material-icons mx-2">notifications</span>
                                        <span class="notification">4</span>
                                        Notification
                                    </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">You have 5 new messages</a>
                                            </li>
                                            <li>
                                                <a href="#">You're now friend with Mike</a>
                                            </li>
                                            <li>
                                                <a href="#">Wish Mary on her birthday!</a>
                                            </li>
                                            <li>
                                                <a href="#">5 warnings in Server Console</a>
                                            </li>
                                        
                                        </ul>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="d-flex" href="#">
                                        <span class="material-icons mx-2">person</span>
                                        Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="d-flex" href="#">
                                        <span class="material-icons mx-2">logout</span>
                                        Log out
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                    
                    
                    <div class="main-content ">
                    
                    <div class="row  ">
                <div class="col-12 d-xl-block d-lg-block d-md-block d-none">
                    <div class="bg-white  rounded d-flex">
                        <div class="container-fluid text-center pt-5 px-3">
                            <h1>Hello, YOURNAME !</h1>
                            <p>Welcome to your personal healthcare hub. Your well-being is our priority.</p>
                        </div>
                        
                        <div class="card-content p-0 ">
                            
                            <img src="img/staff.png" alt="">
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats ">
                        <div class="card-header">
                            <div class="icon icon-success">
                                <span class="material-icons">
                                chat
                                </span>

                            </div>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>messages</strong></p>
                            <h3 class="card-title">3</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">message</i> Monthly messages
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header">
                            <div class="icon icon-info">
                            
                                <span class="material-icons">
                                follow_the_signs
                                </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>Followers</strong></p>
                            <h3 class="card-title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
                            <footer class="footer ">
                    <div class="container-fluid row d-flex justify-content-center">
                        <div class="">
                        
                            <div class="col-md-12">
                            <p class=""> &copy 2023 Design by ICCN2</p>
                            </div>
                        </div>
                    </div>
                </footer> 
                            
                            </div>
                            
                        

                </div>
        </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery-3.3.1.min.js"></script>
        
        
        <script type="text/javascript">
        $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#content').toggleClass('active');
                    });
                    
                    $('.more-button,.body-overlay').on('click', function () {
                        $('#sidebar,.body-overlay').toggleClass('show-nav');
                    });
                    
                });


            
                
            
        </script>
  
  



  </body>
  
  </html>


