<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
        <title>ePharmaSphere</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/pharmacie.ico}" />
        
    
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    
        <!-- Your additional stylesheets with Thymeleaf syntax -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" />
        <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
        <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
        <link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet" />
        <link th:href="@{/css/aos.css}" rel="stylesheet" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    
        <!-- Additional fonts -->
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
        <link rel="stylesheet" href="fonts/icomoon/style.css">
 

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5 site-navigation text-right text-md-center" role="navigation">
            <a class="navbar-brand" href="index.html"><span class="fw-bolder text-success">ePharmaSphere</span></a> 
            <ol class="navbar-brand"><!--breadcrumb-item-->
                <li class="navbar-brand" ><a class="btn btn-success" href="logout.html">logout</a></li>
            </ol>   
        </div>
    </nav>
    
    <header class="py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-xxl-5">
                    <!-- Header text content-->
                    <div class="text-center text-xxl-start">
                        <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Communication &middot; Satisfaction &middot; Confidentiality</div></div>
                        <div class="fs-3 fw-light text-muted">Time-saving made easy</div>
                        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Pharmacy Dashboard</span></h1>
                    </div>
                </div>
                
            </div>
        </div>
    </header>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row gutters-sm justify-content-center">
                <div class="col-md-4 mb-3">
                    <div class="card mx-auto">
                        <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://img.freepik.com/vecteurs-premium/illustration-vectorielle-symbole-pharmacie-illustration-couleur-verte-signe-pharmacie_764382-1137.jpg?w=360" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                        <h4>Pharma name</h4>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div th:each="info : ${info}">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Pharmacy Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${info.pharmacy_name}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6c0a051c2c061907011904420d00" th:text="${info.email}"></a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${info.phone_number}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${info.address}"></div>
                            </div>
                            <hr>
                            
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-success" th:href="@{/pharmadashboard/edit}" target="_blank">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
                


            <div class="email-app mb-4">
                <nav>
                    <button onclick="handleInboxClick()" class="btn btn-success btn-block ">Messages Box</button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link inbox-button" href="javascript:void(0);" onclick="handleInboxClick()" ><i class="fa fa-inbox"></i> Inbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link stared-button" href="javascript:void(0);"><i class="fa fa-star"></i> Stared</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rocket-button"  href="javascript:void(0);" ><i class="fa fa-rocket"></i> Sent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link trash-button" href="javascript:void(0);"><i class="fa fa-trash-o"></i> Trash</a>
                        </li>
                    </ul>
                </nav>
    
                <main class="inbox">
                    <div class="card-body">
                        <div class="tab-content">    
                            <ul class="messages" id="inbox-messages">
                                <li class="message unread" th:each="message : ${messages}">
                                    <a href="#">
                                        <div class="actions">
                                            <span class="action"><i class="fa fa-square-o"></i></span>
                                            <span class="action important" onclick="toggleStar(this)"><i class="fa fa-star-o"></i></span>
                                            <span class="action delete" onclick="deleteMessage(this)"><i class="fa fa-trash"></i></span>
                                        </div>
                                        <div class="header">
                                            <span class="from">
                                                Sender: <span th:text="${message.sender}"></span>
                                            </span>
                                            <span class="date">
                                                <span class="fa fa-paper-clip"></span>
                                                Timestamp: <span th:text="${message.timestamp}"></span>
                                            </span>
                                        </div>
                                        <div class="title">
                                            Subject: <span th:text="${message.subject}"></span>
                                        </div>
                                        <div class="description">
                                            Content: <span th:text="${message.content}"></span>
                                        </div>
                                    </a>
                                </li>
                                <!-- Additional messages will be dynamically added here -->
                            </ul>

                            <div id="sent-messages" class="sent-messages" style="display: none;">
                                <!-- Sent messages will be displayed here -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="javascript:void(0);" onclick="showComposemessage(this)">
                            <button class="btn btn-success">Compose Message</button>
                        </a>
                    </div>



                    <div id="compose-email" style="display: none;">
                        <!-- Your compose email HTML content goes here -->
                        <p class="text-center">New Message</p>
                        <a class="trash-button" href="javascript:void(0);" onclick="hidecomposeemail(this)"><i class="fa fa-trash-o"></i></a>
                        <form>
                        <div class="form-row mb-3">
                        <label for="from" class="col-2 col-sm-1 col-form-label">from:</label>
                        <div class="col-10 col-sm-11">
                        <input type="email" class="form-control" id="from" placeholder="Type email">
                        </div>
                        </div>
                        <div class="form-row mb-3">
                        <label for="to" class="col-2 col-sm-1 col-form-label">to:</label>
                        <div class="col-10 col-sm-11">
                        <input type="email" class="form-control" id="to" placeholder="Type email">
                        </div>
                        </div>
                        <div class="form-row mb-3">
                            <label for="object" class="col-2 col-sm-1 col-form-label">object:</label>
                            <div class="col-10 col-sm-11">
                            <input type="text" class="form-control" id="object" placeholder="Type text">
                            </div>
                        </div>
                        </form>
                        <div class="row">
                        <div class="col-sm-11 ml-auto">
                        <div class="toolbar" role="toolbar">
                        <div class="btn-group">
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-bold"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-italic"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-underline"></span>
                        </button>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-align-left"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-align-right"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-align-center"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-align-justify"></span>
                        </button>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-indent"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-outdent"></span>
                        </button>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-list-ul"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-list-ol"></span>
                        </button>
                        </div>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-trash-o"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                        <span class="fa fa-paperclip"></span>
                        </button>
                        
                        </div>
                        <div class="form-group mt-4">
                        <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-success" onclick="sendMessage()">Send</button>
                        <!--<button type="submit" class="btn btn-light">Draft</button>
                        <button type="submit" class="btn btn-danger">Discard</button>-->
                        </div>
                        </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
<script src="assets/js/pharmadashboard.js"></script>
        
</body>
</html>        